/* PACK LAYOUT DIVS */
.boxcontainer {
	position:relative;
}	
.boxnode {
	position:absolute;
	overflow:hidden;
	/*-moz-border-radius: 10px;
	border-radius: 10px;*/
	/*border: #F8F8F8 1px solid;*/
	/*border:transparent 2px solid;*/
	/* very slow when a lot of boxes ! */
	/*-moz-box-shadow: 1px 1px 8px #D0D0D0;
	-webkit-box-shadow: 1px 1px 8px #D0D0D0;
	box-shadow: 1px 1px 8px #D0D0D0;*/
   /*-moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;	*/
}
.boxnode.dad:hover {
	/*border:#FFCC33 2px solid;*/
	/*z-index:9999999;*/
}
/* default values that can be overidden using css */
.boxnode.dad {
	background: rgba(240,240,240,1);
}
/*
.boxnode.dad:hover {
	background: rgba(250,250,250,0.8);
}
*/
.boxnode.son {
	background: #F8F8F8;/*rgba(220,220,255,1);*/
}
.boximg {
	padding:0px;
	pointer-events:none;
	overflow: hidden;
}
.boximg img {
	pointer-events:none;
	position:relative;
}
.boximg img:hover {
	opacity:0.5;
}
.boxtext {
	/*color:#383838;*/
	padding:8px;
	vertical-align: middle;	
	pointer-events:none;
	text-shadow: 0px 1px 2px rgba(100,100,100,0.2);
	overflow:hidden;
}
.boxnode.below .boxtext {
	/* you can animate it ! */
	/*color: transparent;
	text-shadow: #181818 0 0 30px;*/
}

.boxnode {
	font-family:'Domine';
	color:#383838;
}
.boxnode_a {
	font-family:'Rambla';
	color:#C8C8C8;
	font-style: italic;
}
.boxnode_b {
	font-family:'Gafata';
	font-style:italic;
	color:#990000;
}
.boxnode_c {
	font-family:'Rambla';
	font-weight: bold;
	//color:#990000;
	color:rgba(220,220,220,0.9);
}
.boxnode_c .boxtext{
	background:#990000;/*//rgba(20, 20, 20, 0.7);*/
}
.boxnode_d {
	font-family:'Elsie Swash Caps';/* cursive;*/
	/*color:#990000;*/
	color:#464646;
	/*font-style:italic;*/
}

h1 {
	font-weight: bold;
	color: black;
	font-size: 1.5em;
	margin:0;
	padding:0;
}
/*
h1:after {
	content: "__";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);   
}
*/